;; DEFINE THE ROM START LOCATION
SECTION "rom", ROM0

;; DEFINE THE START LOCATION AS 0x100
SECTION "start", ROM0[$0100]
    nop
    jp main

;; PLACE THE MAIN BLOCK AT 0x150
SECTION "main", ROM0[$0150]

main:
{{#body}}
{{{.}}}
{{/body}}